*
!.gitignore
!*/
!*.c
!*.h
!*.cpp
!*.hpp
!*.in
!*.inl
!*.lua
!*.glsl
!*.txt
CMakeCache.txt

!*.dll
!*.lib
!*.exe

!*.sln
!*.vcxproj
!*.filters
!*.user

!*.vs
!*.fs
!*.png
!*.bmp
!*.md
!*.obj
!*.ttf
!*.rc
!*.ico
